<div class="topbar lobster">
        <div class="burgermenucontainer light_gray_bg" ><i class="material-icons burgermenu" onclick="menuopen()">burgermenu</i></div>
        <div class="top light_gray_bg"> <div class="button" onclick="randomsong()"><p>Random Song</p></div> </div>
</div>
<main>
        <div class="mainhorizontalspacer light_gray_bg upper"></div>
        <div class="song light_gray_bg" id="randomsongframe"></div>
        <div class="mainhorizontalspacer light_gray_bg lower"></div>
        <div class="mainhorizontalspacer"></div>
        <div class="mainhorizontalspacer light_gray_bg upper"></div>
        <div class="calendar lobster light_gray_bg" id="countdown"> <h2>Countdown to Christmas!</h2> <p id="days"></p><p id="hours"></p><p id="minutesseconds"></p></div>
        <div class="mainhorizontalspacer light_gray_bg lower"></div>
</main>
