<div class="topbar lobster">
        <div class="burgermenucontainer" ><i class="material-icons burgermenu" onclick="menuopen()">burgermenu</i></div>
        <div class="top"> <div class="button" onclick="randomsong()"> <p>New Song</p></div> </div>
</div>
<main>
        <div class="song" id="randomsongframe">
                <iframe class="notactive" id="iframe1" width="260" height="140" src="https://www.youtube.com/embed/6n3pFFPSlW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="notactive" id="iframe2" width="260" height="140" src="https://www.youtube.com/embed/wZZ7oFKsKzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="notactive" id="iframe3" width="260" height="140" src="https://www.youtube.com/embed/T8r3cWM4JII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="notactive" id="iframe4" width="260" height="140" src="https://www.youtube.com/embed/z9Uz1icjwrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="notactive" id="iframe5" width="260" height="140" src="https://www.youtube.com/embed/LDU_Txk06tM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
                <iframe class="notactive" id="iframe6" width="260" height="140" src="https://www.youtube.com/embed/dJGCBNndLHc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</main>
