<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>God Jul!</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>God Jul</h1>
        </header>
        <%=yield%>
        <div class="menucontainer" onclick="menuclose()">
        <div class="menu">
        <div class="calendar"></div>
        <a href=""></a>
        <a href=""></a>
        </div>
        <div class="background"></div>
        </div>
        <footer>
            <div class="contact">
                <h3>Contact me at</h3>
                <ul>
                    <li>Phone: 020 2051323</li>
                    <li>Fax: +1-212-9876543</li>
                </ul>
            </div>
            <div class="festive_links">
                <h3>Festive links (sponsored) <i class="material-icons">thumb_up</i></h3>
                <ul>
                    <li>
                        <a href="https://www.treetopia.com/">Treetopia</a>
                    </li>
                    <li>
                        <a href="http://www.noradsanta.org/">NORAD tomte</a>
                    </li>
                    <li>
                        <a href="https://reindeercam.com/">Ren-kamera</a>
                    </li>
                    <li>
                        <a href="https://www.elfyourself.com/">Elf-yourself</a>
                    </li>
                </ul>
            </div>
            <div class="paypal"></div>
        </footer>
    </div>
</body>
<script src="js/main.js"></script>
</html>