.burgermenucontainer i.material-icons{
    font-size: 50px;
}

.menucontainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: -500px;
    display: flex;
    align-items: center;
}

.menu{
    border-radius: 0 10px 10px 0;
    width: 250px;
    background-color: white;
    height: 100%;
}

.background{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

.open{
    left: 0px;
}